body {
  background-color: #111111;
  text-align: center;
  color: #FFF;
}

#game-container {
  display: block;
  width: 1200px;
  position: relative;
  margin: 0 auto;
  border: 2px solid #FFFFFF;
}

#game-over {
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  margin: 0 auto;
  width: 80%;
  height: 80%;
}

#game-over h2 {
  font-size: 120px;
}

#game-over button {
  display: block;
  margin: 0 auto 10px;
  height: 60px;
  min-width: 200px;
  padding: 0 20px;
  border-radius: 10px;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
}

img.avatar {
    width: 60px;
    height: 75px;
  }

.box {
    border: 1px solid black ;
    width: 85px;
    display: inline-flex;
}

.checked {
    color: orange;
}

.rating-container {
    border: 1px solid black ;
    width: 32rem;
}

.rating-container h4,
.rating-container form {
    text-align: center;
}

.rating-container input {
    height: 2em;
    width: 320px;
    max-width: 90%;

}

.rating-container  input[type="submit"]{
    width: 150px;
    padding: 1em;
    display: inline-block;
}

.fieldset {
    border: none;
}

.rating-container textarea {
    width: 320px;
}